.add {
    width: var(--width);
    height: 815px;
    top:1260px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    background-color: var(--color-bg);

}
.label3, .text-a-1, .label3-1 {
    left: 73px;
}
.text-a-2  {
    right: 40px;
}
.label3-2 {
    left: 957px;
}
.text-a-2, .text-a-1 {
    top: 195px;
    background-color: transparent;
}
.text-a-3 {
    left: 280px;
    top: 720px;
    text-align: center;
    width: 955px;
}
.i6 {
    top: 135px;
    left: 275px;
    max-width: 900px;
    height: 585px;
    mix-blend-mode: lighten;
}
.label3 {
    top:20px;
    font-size: var(--font-size-h1);
    font-weight: 400;
    font-family: var(--font-family-h);
}
.label3-1, .label3-2 {
    top: 140px;
    font-size: var(--font-size-h2);
}
