
:root {
    --color-title-bg: #e3f7f2;
    --color-text: #fff9c7;
    --color-bg: #1B2735;
    --color-menu: #f7de00;
    --font-family-h: "Roboto-Regular", Helvetica;
    --font-family-text: 'Roboto', sans-serif;
    --font-w-text: 300;
    --font-size-h1: 64px;
    --font-size-h2: 32px;
    --font-size-text: 22px;
    --font-size-menu: 28px;
    --font-size-p: 22px;
    --width: 1440px;
    --width-menu: 720px;
    --width-header: 720px;
    --height-menu: 100px;
    --height-header: 100px;
    --height-footer: 100px;
    --img: 250px;
    --padding-left: 120px;
    --padding-text: 50px;
}